{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
    <h1>Livre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>AnneeEdition</th>
                <td>{{ livre.anneeEdition }}</td>
            </tr>
            <tr>
                <th>NombrePages</th>
                <td>{{ livre.nombrePages }}</td>
            </tr>
            <tr>
                <th>CodeIsbn</th>
                <td>{{ livre.codeIsbn }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_home') }}">back to home</a>
{% endblock %}
