<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ path('app_home') }}">accueil</a>
                {# @todo #}
                {# <a href="{{ path('app_login') }}">connexion</a>
                {% if true %}
                <a href="{{ path('app_logout') }}">déconnexion</a>
                {% endif %}
                {% if true %}
                <a href="{{ path('foo') }}">utilisateurs</a>
                <a href="{{ path('foo') }}">livres</a>
                <a href="{{ path('foo') }}">auteurs</a>
                <a href="{{ path('foo') }}">emprunteurs</a>
                <a href="{{ path('foo') }}">emprunts</a>
                {% endif %} #}
            </nav>
            <h1>ECF P10</h1>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
